### Data Collection

In [1]:
import pandas as pd
import numpy as np
import datetime
import requests

In [2]:
spacex_url = "https://api.spacexdata.com/v4/launches/past"
response = requests.get(spacex_url)

In [3]:
response.status_code

200

In [4]:
response.content[0:1000]

b'[{"fairings":{"reused":false,"recovery_attempt":false,"recovered":false,"ships":[]},"links":{"patch":{"small":"https://images2.imgbox.com/94/f2/NN6Ph45r_o.png","large":"https://images2.imgbox.com/5b/02/QcxHUb5V_o.png"},"reddit":{"campaign":null,"launch":null,"media":null,"recovery":null},"flickr":{"small":[],"original":[]},"presskit":null,"webcast":"https://www.youtube.com/watch?v=0a_00nJ_Y88","youtube_id":"0a_00nJ_Y88","article":"https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html","wikipedia":"https://en.wikipedia.org/wiki/DemoSat"},"static_fire_date_utc":"2006-03-17T00:00:00.000Z","static_fire_date_unix":1142553600,"net":false,"window":0,"rocket":"5e9d0d95eda69955f709d1eb","success":false,"failures":[{"time":33,"altitude":null,"reason":"merlin engine failure"}],"details":"Engine failure at 33 seconds and loss of vehicle","crew":[],"ships":[],"capsules":[],"payloads":["5eb0e4b5b6c3bb0006eeb1e1"],"launchpad":"5e9e4502f5090995de566f86","flight_number":1,"name":'

In [5]:
stage1 = response.json()

In [6]:
len(stage1)

187

In [7]:
stage1[0]

{'fairings': {'reused': False,
  'recovery_attempt': False,
  'recovered': False,
  'ships': []},
 'links': {'patch': {'small': 'https://images2.imgbox.com/94/f2/NN6Ph45r_o.png',
   'large': 'https://images2.imgbox.com/5b/02/QcxHUb5V_o.png'},
  'reddit': {'campaign': None,
   'launch': None,
   'media': None,
   'recovery': None},
  'flickr': {'small': [], 'original': []},
  'presskit': None,
  'webcast': 'https://www.youtube.com/watch?v=0a_00nJ_Y88',
  'youtube_id': '0a_00nJ_Y88',
  'article': 'https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html',
  'wikipedia': 'https://en.wikipedia.org/wiki/DemoSat'},
 'static_fire_date_utc': '2006-03-17T00:00:00.000Z',
 'static_fire_date_unix': 1142553600,
 'net': False,
 'window': 0,
 'rocket': '5e9d0d95eda69955f709d1eb',
 'success': False,
 'failures': [{'time': 33,
   'altitude': None,
   'reason': 'merlin engine failure'}],
 'details': 'Engine failure at 33 seconds and loss of vehicle',
 'crew': [],
 'ships': [],
 'capsules': [],
 'payloads': ['5eb0e4b5b6c3bb0006eeb1e1'],
 'launchpad': '5e9e4502f5090995de566f86',
 'flight_number': 1,
 'name': 'FalconSat',
 'date_utc': '2006-03-24T22:30:00.000Z',
 'date_unix': 1143239400,
 'date_local': '2006-03-25T10:30:00+12:00',
 'date_precision': 'hour',
 'upcoming': False,
 'cores': [{'core': '5e9e289df35918033d3b2623',
   'flight': 1,
   'gridfins': False,
   'legs': False,
   'reused': False,
   'landing_attempt': False,
   'landing_success': None,
   'landing_type': None,
   'landpad': None}],
 'auto_update': True,
 'tbd': False,
 'launch_library_id': None,
 'id': '5eb87cd9ffd86e000604b32a'}

In [8]:
data = pd.json_normalize(stage1)

In [9]:
data.shape

(187, 43)

In [10]:
data.size

8041

In [11]:
data.head()

,static_fire_date_utc,static_fire_date_unix,net,window,rocket,success,failures,details,crew,ships,...,links.reddit.media,links.reddit.recovery,links.flickr.small,links.flickr.original,links.presskit,links.webcast,links.youtube_id,links.article,links.wikipedia,fairings
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 33, 'altitude': None, 'reason': 'mer...",Engine failure at 33 seconds and loss of vehicle,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=0a_00nJ_Y88,0a_00nJ_Y88,https://www.space.com/2196-spacex-inaugural-fa...,https://en.wikipedia.org/wiki/DemoSat,NaN
1,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 301, 'altitude': 289, 'reason': 'har...",Successful first stage burn and transition to ...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=Lk4zQ2wP-Nc,Lk4zQ2wP-Nc,https://www.space.com/3590-spacex-falcon-1-roc...,https://en.wikipedia.org/wiki/DemoSat,NaN
2,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,False,"[{'time': 140, 'altitude': 35, 'reason': 'resi...",Residual stage 1 thrust led to collision betwe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=v0w9p3U8860,v0w9p3U8860,http://www.spacex.com/news/2013/02/11/falcon-1...,https://en.wikipedia.org/wiki/Trailblazer_(sat...,NaN
3,2008-09-20T00:00:00.000Z,1.221869e+09,False,0.0,5e9d0d95eda69955f709d1eb,True,[],Ratsat was carried to orbit on the first succe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=dLQ2tZEH6G0,dLQ2tZEH6G0,https://en.wikipedia.org/wiki/Ratsat,https://en.wikipedia.org/wiki/Ratsat,NaN
4,None,NaN,False,0.0,5e9d0d95eda69955f709d1eb,True,[],None,[],[],...,None,None,[],[],http://www.spacex.com/press/2012/12/19/spacexs...,https://www.youtube.com/watch?v=yTaIDooc8Og,yTaIDooc8Og,http://www.spacex.com/news/2013/02/12/falcon-1...,https://en.wikipedia.org/wiki/RazakSAT,NaN

In [12]:
data.columns

Index(['static_fire_date_utc', 'static_fire_date_unix', 'net', 'window',
       'rocket', 'success', 'failures', 'details', 'crew', 'ships', 'capsules',
       'payloads', 'launchpad', 'flight_number', 'name', 'date_utc',
       'date_unix', 'date_local', 'date_precision', 'upcoming', 'cores',
       'auto_update', 'tbd', 'launch_library_id', 'id', 'fairings.reused',
       'fairings.recovery_attempt', 'fairings.recovered', 'fairings.ships',
       'links.patch.small', 'links.patch.large', 'links.reddit.campaign',
       'links.reddit.launch', 'links.reddit.media', 'links.reddit.recovery',
       'links.flickr.small', 'links.flickr.original', 'links.presskit',
       'links.webcast', 'links.youtube_id', 'links.article', 'links.wikipedia',
       'fairings'],
      dtype='object')

In [13]:
data.loc[0,'rocket']

'5e9d0d95eda69955f709d1eb'

In [14]:
data.loc[0,'payloads']

['5eb0e4b5b6c3bb0006eeb1e1']

In [15]:
data.loc[0,'launchpad']

'5e9e4502f5090995de566f86'

In [16]:
data.loc[0,'cores']

[{'core': '5e9e289df35918033d3b2623',
  'flight': 1,
  'gridfins': False,
  'legs': False,
  'reused': False,
  'landing_attempt': False,
  'landing_success': None,
  'landing_type': None,
  'landpad': None}]

In [17]:
data.loc[0:2,['success','failures']]

  success                                           failures
0   False  [{'time': 33, 'altitude': None, 'reason': 'mer...
1   False  [{'time': 301, 'altitude': 289, 'reason': 'har...
2   False  [{'time': 140, 'altitude': 35, 'reason': 'resi...

In [18]:
data.loc[0:2,['date_utc','flight_number']]

                   date_utc  flight_number
0  2006-03-24T22:30:00.000Z              1
1  2007-03-21T01:10:00.000Z              2
2  2008-08-03T03:34:00.000Z              3

In [19]:
data2 = data[['rocket','payloads','launchpad','cores','flight_number','date_utc']]

In [20]:
# A lot of data is just id, we will use API again to get information using ID

In [21]:
# Falcon Heavy with multiple cores
data_heavy= data2[data2['cores'].map(len)>1]
data_heavy.shape

(3, 6)

In [22]:
data_heavy

,rocket,payloads,launchpad,cores,flight_number,date_utc
54,5e9d0d95eda69974db09d1ed,[5eb0e4c6b6c3bb0006eeb21c],5e9e4502f509094188566f88,"[{'core': '5e9e28a5f359187f703b2653', 'flight'...",55,2018-02-06T20:45:00.000Z
76,5e9d0d95eda69974db09d1ed,[5eb0e4cbb6c3bb0006eeb236],5e9e4502f509094188566f88,"[{'core': '5e9e28a6f3591897453b265f', 'flight'...",77,2019-04-11T22:35:00.000Z
80,5e9d0d95eda69974db09d1ed,"[5eb0e4ccb6c3bb0006eeb23a, 5eb0e4ccb6c3bb0006e...",5e9e4502f509094188566f88,"[{'core': '5e9e28a7f3591878063b2661', 'flight'...",81,2019-06-25T03:30:00.000Z

In [23]:
# Only Falcon and Falcon 9
data2 = data2[data2['cores'].map(len)==1]
data2.shape

(184, 6)

In [24]:
# launches with multiple paylaod
data_morethanonepayload = data2[data2['payloads'].map(len)>1]
data_morethanonepayload.shape

(12, 6)

In [25]:
#Launches with single payload to make analysis easy
data2 = data2[data2['payloads'].map(len)==1]
data2.shape

(172, 6)

In [26]:
# Multiple core, payload removed but cores and payloads data still inside a list...changing that
data2['cores'] = data2['cores'].map(lambda x : x[0])
data2['payloads'] = data2['payloads'].map(lambda x : x[0])

In [27]:
# What date column looks like
data2['date_utc']

0      2006-03-24T22:30:00.000Z
1      2007-03-21T01:10:00.000Z
3      2008-09-28T23:15:00.000Z
4      2009-07-13T03:35:00.000Z
5      2010-06-04T18:45:00.000Z
                 ...
180    2022-08-28T02:22:00.000Z
181    2022-08-31T05:40:00.000Z
184    2022-09-17T01:05:00.000Z
185    2022-09-24T23:30:00.000Z
186    2022-10-05T16:00:00.000Z
Name: date_utc, Length: 172, dtype: object

In [28]:
# Converting to simple date 
data2['date'] = pd.to_datetime(data['date_utc']).dt.date
data2['date']

0      2006-03-24
1      2007-03-21
3      2008-09-28
4      2009-07-13
5      2010-06-04
          ...
180    2022-08-28
181    2022-08-31
184    2022-09-17
185    2022-09-24
186    2022-10-05
Name: date, Length: 172, dtype: object

In [29]:
# Since a lot of data is just id, extracting it again using api and id

In [30]:
# Empty lists
BoosterVersion = []
PayloadMass = []
Orbit = []
LaunchSite = []
Longitude = []
Latitude = []
Outcome = []
Flights = []
GridFins = []
Reused  = []
Legs = []
LandingPad = []
Block = []
ReusedCount = []
Serial = []

In [31]:
data2.columns

Index(['rocket', 'payloads', 'launchpad', 'cores', 'flight_number', 'date_utc',
       'date'],
      dtype='object')

In [32]:
# Booster version
for x in data2['rocket']:
    response  = requests.get("https://api.spacexdata.com/v4/rockets/"+str(x)).json()
    BoosterVersion.append(response['name'])

In [33]:
# Launch Site
for x in data2['launchpad']:
    response  = requests.get("https://api.spacexdata.com/v4/launchpads/"+str(x)).json()
    Longitude.append(response['longitude'])
    Latitude.append(response['latitude'])
    LaunchSite.append(response['name'])

In [ ]:
# Payload
for x in data2['payloads']:
    response = requests.get("https://api.spacexdata.com/v4/payloads/"+str(x)).json()
    PayloadMass.append(response['mass_kg'])
    Orbit.append(response['orbit'])

In [ ]:
# some of data of core is in cores colunm itself 
for core in data2['cores']:
    Outcome.append(str(core['landing_success'])+' '+str(core['landing_type']))
    Flights.append(core['flight'])
    GridFins.append(core['gridfins'])
    Reused.append(core['reused'])
    Legs.append(core['legs'])
    LandingPad.append(core['landpad'])

In [36]:
# some core data need  api
for core in data2['cores']:
    if core['core'] != None :
        response = requests.get("https://api.spacexdata.com/v4/cores/"+core['core']).json()
        Block.append(response['block'])
        ReusedCount.append(response['reuse_count'])
        Serial.append(response['serial'])
    else :
        Block.append(None)
        ReuseCount.append(None)
        Serial.append(None)

In [37]:
launch_dict = {'FlightNumber' : list(data2['flight_number']),
'Date' : list(data2['date']),
'BoosterVersion':BoosterVersion,
'PayloadMass':PayloadMass,
'Orbit':Orbit,
'LaunchSite':LaunchSite,
'Outcome':Outcome,
'Flights':Flights,
'GridFins':GridFins,
'Reused':Reused,
'Legs':Legs,
'LandingPad':LandingPad,
'Block':Block,
'ReusedCount':ReusedCount,
'Serial':Serial,
'Longitude': Longitude,
'Latitude': Latitude }

In [38]:
# Checking if all lists have same length
length_dict = {key : len(value) for key, value in launch_dict.items()}
print(length_dict)

{'FlightNumber': 172, 'Date': 172, 'BoosterVersion': 172, 'PayloadMass': 172, 'Orbit': 172, 'LaunchSite': 172, 'Outcome': 172, 'Flights': 172, 'GridFins': 172, 'Reused': 172, 'Legs': 172, 'LandingPad': 172, 'Block': 172, 'ReusedCount': 172, 'Serial': 172, 'Longitude': 172, 'Latitude': 172}

In [39]:
df = pd.DataFrame(launch_dict)

In [40]:
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2006-03-24,Falcon 1,20.0,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin1A,167.743129,9.047721
1,2,2007-03-21,Falcon 1,NaN,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin2A,167.743129,9.047721
2,4,2008-09-28,Falcon 1,165.0,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin2C,167.743129,9.047721
3,5,2009-07-13,Falcon 1,200.0,LEO,Kwajalein Atoll,None None,1,False,False,False,None,NaN,0,Merlin3C,167.743129,9.047721
4,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0003,-80.577366,28.561857

In [41]:
df.shape

(172, 17)

In [42]:
# Falcon 1 is smaller, older rocket and is retired. Falcon 9 is main rocket. 
df_falcon9 = df[df['BoosterVersion']== 'Falcon 9']

In [43]:
df_falcon9.shape

(168, 17)

In [44]:
df_falcon9.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass       22
Orbit              1
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

Missing Value of Payloads are probably due to client requirements (military) and missing values in Landing Outcome can simply be None(failure to land)

In [ ]:
payload_mean = df_falcon9['PayloadMass'].mean()
df_falcon9['PayloadMass'].replace(np.nan, payload_mean)

In [46]:
df_f = df_falcon9[df_falcon9['PayloadMass'].notna()]

In [47]:
df_f.shape

(146, 17)

In [48]:
df_f.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        0
Orbit              0
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        24
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

In [49]:
df_f.describe()

,FlightNumber,PayloadMass,Flights,Block,ReusedCount,Longitude,Latitude
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,94.294521,8191.079110,3.739726,4.123288,5.376712,-87.164948,29.571413
std,52.188276,5521.332964,3.321933,1.428239,4.721397,14.885413,2.252388
min,8.000000,330.000000,1.000000,1.000000,0.000000,-120.610829,28.561857
25%,48.250000,3025.000000,1.000000,3.000000,1.000000,-80.603956,28.561857
50%,92.500000,6780.500000,2.000000,5.000000,5.000000,-80.577366,28.561857
75%,138.750000,13260.000000,6.000000,5.000000,9.000000,-80.577366,28.608058
max,186.000000,15600.000000,13.000000,5.000000,13.000000,-80.577366,34.632093

In [50]:
# Making Flight number uniform 
df_f.loc[:,'FlightNumber'] = list(range(1, df_f.shape[0]+1))

C:\Users\Anant\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [51]:
df_f.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
5,1,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0005,-80.577366,28.561857
6,2,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B0007,-80.577366,28.561857
7,3,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,None,1.0,0,B1003,-120.610829,34.632093
8,4,2013-12-03,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B1004,-80.577366,28.561857
9,5,2014-01-06,Falcon 9,3325.0,GTO,CCSFS SLC 40,None None,1,False,False,False,None,1.0,0,B1005,-80.577366,28.561857

In [56]:
df_f.to_csv('SpaceX_F9_apidata.csv', index = False )

In [57]:
""" We also have to extract some data from Wikipedia and match with course(IBM) so also saving 
a new dataframe with date upto 13.11.2020  """
df_f_trim = df_f[df_f['Date'] <= datetime.date(2020,11,13)]

In [58]:
df_f_trim.shape

(85, 17)

In [59]:
df_f_trim.to_csv('SpaceX_F9_apidatatrim.csv', index = False )

### Thank You