In [1]:
import sqlite3
import pandas as pd

In [2]:
%load_ext sql

In [3]:
con = sqlite3.connect('spacex.db')
cur = con.cursor()

In [4]:
%sql sqlite:///spacex.db

In [5]:
df = pd.read_csv('SpaceX_f9_clean.csv')

In [6]:
df.to_sql('spacex_clean',con, index = False,if_exists = 'replace')

In [7]:
%%sql
select count(*) from spacex_clean ;

 * sqlite:///spacex.db
Done.

[(146,)]

In [8]:
%%sql
select * from spacex_clean
limit 5

 * sqlite:///spacex.db
Done.

[(1, '2012-05-22', 'Falcon 9', 525.0, 'LEO', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B0005', -80.577366, 28.5618571, 0),
 (2, '2013-03-01', 'Falcon 9', 677.0, 'ISS', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B0007', -80.577366, 28.5618571, 0),
 (3, '2013-09-29', 'Falcon 9', 500.0, 'PO', 'VAFB SLC 4E', 'False Ocean', 1, 0, 0, 0, None, 1.0, 0, 'B1003', -120.610829, 34.632093, 0),
 (4, '2013-12-03', 'Falcon 9', 3170.0, 'GTO', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B1004', -80.577366, 28.5618571, 0),
 (5, '2014-01-06', 'Falcon 9', 3325.0, 'GTO', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B1005', -80.577366, 28.5618571, 0)]

In [9]:
%%sql
select distinct(launchsite) from spacex_clean

 * sqlite:///spacex.db
Done.

[('CCSFS SLC 40',), ('VAFB SLC 4E',), ('KSC LC 39A',)]

In [10]:
%%sql
select * from spacex_clean
where launchsite like 'CCS%'
limit 5

 * sqlite:///spacex.db
Done.

[(1, '2012-05-22', 'Falcon 9', 525.0, 'LEO', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B0005', -80.577366, 28.5618571, 0),
 (2, '2013-03-01', 'Falcon 9', 677.0, 'ISS', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B0007', -80.577366, 28.5618571, 0),
 (4, '2013-12-03', 'Falcon 9', 3170.0, 'GTO', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B1004', -80.577366, 28.5618571, 0),
 (5, '2014-01-06', 'Falcon 9', 3325.0, 'GTO', 'CCSFS SLC 40', 'None None', 1, 0, 0, 0, None, 1.0, 0, 'B1005', -80.577366, 28.5618571, 0),
 (6, '2014-04-18', 'Falcon 9', 2296.0, 'ISS', 'CCSFS SLC 40', 'True Ocean', 1, 0, 0, 1, None, 1.0, 0, 'B1006', -80.577366, 28.5618571, 1)]

In [11]:
%%sql
select distinct(BoosterVersion) from spacex_clean

 * sqlite:///spacex.db
Done.

[('Falcon 9',)]

In [12]:
%%sql
select min(date) from spacex_clean
where class = 1

 * sqlite:///spacex.db
Done.

[('2014-04-18',)]

In [13]:
%%sql
select min(date) from spacex_clean
where class = 1

 * sqlite:///spacex.db
Done.

[('2014-04-18',)]

In [14]:
%%sql
select distinct(outcome) from spacex_clean

 * sqlite:///spacex.db
Done.

[('None None',),
 ('False Ocean',),
 ('True Ocean',),
 ('False ASDS',),
 ('None ASDS',),
 ('True RTLS',),
 ('True ASDS',),
 ('False RTLS',)]

In [15]:
%%sql
select count(*), class from spacex_clean
group by class

 * sqlite:///spacex.db
Done.

[(29, 0), (117, 1)]

In [16]:
%%sql
select count(*), outcome from spacex_clean
group by outcome

 * sqlite:///spacex.db
Done.

[(7, 'False ASDS'),
 (2, 'False Ocean'),
 (1, 'False RTLS'),
 (2, 'None ASDS'),
 (17, 'None None'),
 (97, 'True ASDS'),
 (5, 'True Ocean'),
 (15, 'True RTLS')]

In [17]:
%%sql
select max(payloadmass) from spacex_clean

 * sqlite:///spacex.db
Done.

[(15600.0,)]

In [18]:
%%sql
select * from spacex_clean
where payloadmass =( select max(payloadmass) from spacex_clean)

 * sqlite:///spacex.db
Done.

[(66, '2019-11-11', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 4, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 4, 'B1048', -80.577366, 28.5618571, 1),
 (69, '2020-01-07', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 4, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 9, 'B1049', -80.577366, 28.5618571, 1),
 (70, '2020-01-29', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 3, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1051', -80.577366, 28.5618571, 1),
 (71, '2020-02-17', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'False ASDS', 4, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 3, 'B1056', -80.577366, 28.5618571, 0),
 (73, '2020-03-18', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'False ASDS', 5, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 4, 'B1048', -80.6039558, 28.6080585, 0),
 (74, '2020-04-22', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 4, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1051', -80.6039558, 28.6080585, 1),
 (76, '2020-06-04', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 5, 1, 1, 1, '5e9e3033383ecbb9e534e7cc', 5.0, 9, 'B1049', -80.577366, 28.5618571, 1),
 (77, '2020-06-13', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 3, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 5, 'B1059', -80.577366, 28.5618571, 1),
 (79, '2020-08-18', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 6, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 9, 'B1049', -80.577366, 28.5618571, 1),
 (81, '2020-09-03', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 2, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1060', -80.6039558, 28.6080585, 1),
 (82, '2020-10-06', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 3, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 13, 'B1058', -80.6039558, 28.6080585, 1),
 (83, '2020-10-18', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 6, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1051', -80.6039558, 28.6080585, 1),
 (84, '2020-10-24', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 3, 1, 1, 1, '5e9e3033383ecbb9e534e7cc', 5.0, 12, 'B1060', -80.577366, 28.5618571, 1),
 (87, '2020-11-25', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 7, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 9, 'B1049', -80.577366, 28.5618571, 1),
 (91, '2021-01-20', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 8, 1, 1, 1, '5e9e3033383ecbb9e534e7cc', 5.0, 12, 'B1051', -80.6039558, 28.6080585, 1),
 (92, '2021-02-04', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 5, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1060', -80.577366, 28.5618571, 1),
 (93, '2021-02-16', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'False ASDS', 6, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 5, 'B1059', -80.577366, 28.5618571, 0),
 (94, '2021-03-04', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 8, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 9, 'B1049', -80.6039558, 28.6080585, 1),
 (95, '2021-03-11', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 6, 1, 1, 1, '5e9e3033383ecbb9e534e7cc', 5.0, 13, 'B1058', -80.577366, 28.5618571, 1),
 (96, '2021-03-14', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 9, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1051', -80.6039558, 28.6080585, 1),
 (97, '2021-03-24', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 6, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1060', -80.577366, 28.5618571, 1),
 (98, '2021-04-07', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 7, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 13, 'B1058', -80.577366, 28.5618571, 1),
 (99, '2021-04-29', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 7, 1, 1, 1, '5e9e3033383ecbb9e534e7cc', 5.0, 12, 'B1060', -80.577366, 28.5618571, 1),
 (100, '2021-05-04', 'Falcon 9', 15600.0, 'VLEO', 'KSC LC 39A', 'True ASDS', 9, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 9, 'B1049', -80.6039558, 28.6080585, 1),
 (101, '2021-05-09', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 10, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 12, 'B1051', -80.577366, 28.5618571, 1),
 (102, '2021-05-26', 'Falcon 9', 15600.0, 'VLEO', 'CCSFS SLC 40', 'True ASDS', 2, 1, 1, 1, '5e9e3033383ecbb9e534e7cc', 5.0, 6, 'B1063', -80.577366, 28.5618571, 1),
 (106, '2021-09-14', 'Falcon 9', 15600.0, 'PO', 'VAFB SLC 4E', 'True ASDS', 10, 1, 1, 1, '5e9e3032383ecb6bb234e7ca', 5.0, 9, 'B1049', -120.610829, 34.632093, 1)]

In [19]:
%%sql
select outcome, count(outcome) as Number from spacex_clean
where date between '2010-06-04' and '2017-03-20' 
group by outcome

 * sqlite:///spacex.db
Done.

[('False ASDS', 4),
 ('False Ocean', 2),
 ('None ASDS', 2),
 ('None None', 8),
 ('True ASDS', 5),
 ('True Ocean', 3),
 ('True RTLS', 3)]

#### These were some examples of sql querying in python

### Thank You